{% extends "base.html" %}

{% block main %}
    <ul class="image-grid">
        {% for image in images %}
            <li><img class="grid-image" src="{{ url_for('get_image', filename=image) }}" alt="{{ image }}"></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block css %}
<style>
    .image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 10px; 
    }

    .grid-image {
        width: 100px; 
        height: 100px; 
        object-fit: cover; 
    }
</style>
{% endblock %}
